<h1>Emitir relatório de vendas mensais</h1>

<p>Formulário <%= "teste" %> </p>

<p>Nome: <%= @nome %></p>


<%= link_to "Relatório vendas mensais", controller: "vendas_mensais", action: "relatorio_vendas_mensais" %>
