<p>Estou no controller de teste estados!</p> 


<%= form_tag('/teste_estado/consulta') do -%>
  <%= label_tag("Nome:") %>
  <%= text_field :nome %> <br/>
  <%= submit_tag("Pesquisar") %>
<% end %>




<% @estados.each do |estado| %>

<%= estado.to_s %>

<% end %>



