<!DOCTYPE html>
<html>
  <head>
    <title>Analyticsbi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "AdminLTE.min.css" %>
    <%= stylesheet_link_tag "bootstrap.css" %>
	<%= stylesheet_link_tag "bootstrap.min.css" %>
	<%= stylesheet_link_tag "bootstrap-theme.css" %>
	<%= stylesheet_link_tag "bootstrap-theme.min.css" %>		

	<%= javascript_include_tag "bootstrap.js"  %>
	<%= javascript_include_tag "bootstrap.min.js"  %>
	<%= javascript_include_tag "npm.js"  %>
	
	




  </head>

  <body>
    <%= yield %>
  </body>
</html>
